/* Home.module.css */
.homeContainer {
  display: flex;
  height: calc(100vh - 50px);
  background-color: lightblue; /* Just for debugging */
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #181a1b;
}

.rightPanel {
  width: 300px;
  background-color: #2f3136;
  padding: 20px;
  color: white;
}
