.popularServersContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
}

.serverCard {
  text-align: left;
  color: white;
}

.serverIcon {
  width: 128px;
  height: 128px;
  border-radius: 8px;
  object-fit: cover;
  background-color: #2c2f33;
  margin-bottom: 8px;
}
