/* Sidebar container styling */
.sidebar {
  width: 65px;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  padding-top: 10px;
  border-color: #454546;
}

/* Server item container */
.serverItemWrapper {
  position: relative;
  text-decoration: none !important;
}

/* Server icon styling */
.icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #36393f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none !important;
}

/* Notification dot styling */
.notificationDot {
  position: absolute;
  left: -14px;
  top: 50%;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Add animation on hover effect */
.serverItemWrapper::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  height: 50%;
  width: 5px;
  background-color: white;
  border-radius: 0 4px 4px 0;
  transform: translateY(-50%) scaleY(0);
  transform-origin: center;
  transition: transform 0.2s ease;
  z-index: 1;
}

.serverItemWrapper:hover::before {
  transform: translateY(-50%) scaleY(1);
}

.separator {
  width: 40px;
  height: 1px;
  background-color: #4f545c;
  margin: 12px 0;
  border: none;
}
